In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
from platform import python_version
print(python_version())

3.7.4

<h1>exercise 1:</h1>

In [2]:
"Writer: Sami Aloufi"

if __name__=="__main__":
    print("Hello World!")

Hello World!

<h1>exercise 2:</h1>

In [3]:
x = 7 
y = 8
r = x + y
a = x * y
a = x / y
c = x - y
print(r+a)

15.875

In [4]:
x=7
y=8
r=x+y
print(r)

15

In [5]:
x=7
y=8
r=x+y
print(r)
print(x*y)
print(x/y)

15
56
0.875

<h1>exercise 3</h1>

In [6]:
x= 5
y= 2**2 +1
x==y

x,y=5, 2**(2+1)
x==y

False

In [7]:
x= 5
y= 2**2 +1
x==y

True

In [8]:
x,y=5, 2**(2+1)
x==y

False

<h1>exercise 4:</h1>

In [9]:
def compare(x,y):
    return x == y
compare(x, y)

False

In [12]:
def add(x,y):
    return x+y
add(7,7)

14

In [15]:
def div(x,y):
    return x/y
add(10,2)

12

In [16]:
def comp(x,y):
    return x==y
comp(5,5)

True

<h1>exercise 5:</h1>

In [17]:
if __name__=="__main__":
    
    def sphere_volume(x):
        return (4/3*3.14159)*(x*x*x)
    
sphere_volume(5)

523.5983333333332

<h1>exercise 6</h1>

In [11]:
course_name = "IS-372 Data Mining & Data Warehouse"
print(course_name[:6]) 
print(course_name[-1]) 
print(course_name[:5]) 
print(course_name[6:])

IS-372
e
IS-37
 Data Mining & Data Warehouse

In [1]:
my_list = ["Hello", 93.8, "world", 10]

In [2]:
my_list[0]

'Hello'

In [3]:
my_list[1]

93.8

In [6]:
my_list[:2]

['Hello', 93.8]

In [5]:
my_list[-2]

'world'

In [9]:
my_list.append(77)

In [11]:
my_list.insert(1,47)

In [13]:
my_list.remove(77)

In [14]:
my_list.pop()

10

<h1>exercise 7</h1>

In [44]:
def list_ops():
    list_op = ["bear","ant", "cat", "dog"]
    list_op.append("eagle")
    list_op.insert(2, "fox")
    list_op.pop(1)
    list_op.sort(reverse = True)
    list_op.pop()
    list_op.append("Hawk")
    list_op.append("hunter")
    return list_op

In [45]:

print(list_ops())

['fox', 'eagle', 'dog', 'cat', 'Hawk', 'hunter']

In [15]:
DataMining_Students = {'Sami, Aloufi', 'Ahmad, Aloufi', 'Essam, Almuzini'}
print(DataMining_Students)

DataMining_Students.add('Nawaf, Aloufi') #add 
DataMining_Students.discard('Esam, Almuzini') #remove
print(DataMining_Students)

Database_Students = {'Sami, Aloufi', 'Ahmad, Aloufi', 'Essam, Almuzini', 'mkmn, abse'}

DataMining_Students.intersection(Database_Students)
DataMining_Students.difference(Database_Students)

{'Essam, Almuzini', 'Ahmad, Aloufi', 'Sami, Aloufi'}
{'Nawaf, Aloufi', 'Essam, Almuzini', 'Ahmad, Aloufi', 'Sami, Aloufi'}

{'Nawaf, Aloufi'}

In [14]:
students = {'3700086': 'Sami Aloufi',
            '3789649': ' Hatem almuzini',
            '3789897': 'Nawaf Alwahab'}

print(students['3700086'])

print(students.keys())

print(students.values())

Sami Aloufi
dict_keys(['3700086', '3789649', '3789897'])
dict_values(['Sami Aloufi', ' Hatem almuzini', 'Nawaf Alwahab'])

In [16]:
mark = 94

if mark <= 100 and mark >= 90:
    print("A")
elif mark < 90 and mark >= 80:
    print("B")
elif mark < 80 and mark >= 70:
    print("C")
elif mark < 70 and mark >= 60:
    print("D")
else:
    print("F")

A

In [17]:
list = ['Black', 'White', 'Red', 'Blue']
i = 0
while i < len(list):
    print(list[i])
    i += 1
for item in list:
    print(item + "!")

Black
White
Red
Blue
Black!
White!
Red!
Blue!

<h1>exercise 8:</h1>

In [46]:
s = "stab"
for i in range(len(s)):
    print(s[0 : i : 1])

s
st
sta